.card {
    border-radius: 25px;
    transition: all ease 200ms;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.pickCard {
    max-width: 14rem;
}

.allCards {
    max-width: 12rem;
}